body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
}

#webcam {
  display: none; /* Hide webcam video feed */
}

canvas {
  border: 1px solid white; /* Main canvas border */
  width: 90%; /* Default width for smaller screens */
  height: auto; /* Maintain aspect ratio */
  position: relative;
}

#recordedCanvas {
  border: 2px solid rgb(255, 165, 0); /* Orange border for visibility */
  width: 90%; /* Default width for smaller screens */
  height: auto; /* Maintain aspect ratio */
}

/* Controls container for buttons and info */
#controlsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  position: absolute;
  bottom: 5%;
  width: 90%; /* Occupy most of the screen width for small devices */
  background-color: rgba(0, 0, 0, 0.7);
  padding: 15px;
  border-radius: 10px;
}

#captureBtn,
#recordBtn {
  padding: 12px 20px;
  background-color: green;
  color: white;
  font-size: 14px;
  border: none;
  border-radius: 5px;
}

#captureBtn:hover,
#recordBtn:hover {
  background-color: darkgreen;
}

#infoContainer {
  max-height: 150px; /* Adjust height for better alignment */
  overflow-y: auto; /* Enable vertical scrolling */
  color: white;
}

#messagesContainer {
  max-height: 150px; /* Adjust height for better alignment */
  overflow-y: auto; /* Enable vertical scrolling */
  color: white;
  width: 100%; /* Responsive width for smaller screens */
  text-align: center;
}

#infoContainer ul,
#messagesContainer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hidden {
  display: none; /* Hide the info container when not needed */
}

/* Media Query for responsive design */
@media (min-width: 768px) {
  canvas,
  #recordedCanvas {
    width: 90%;
    height: auto;
    border: 2px solid black; /* Consistent border style on larger screens */
  }
  #controlsContainer {
    width: 70%;
    padding: 20px;
  }
}
